<!DOCTYPE html>
<html>
  <head>
    <title>Inverted Color Scheme Example</title>
    <style>
      body {
        background-color: red;
        color: white;
      }
      img.invert {
        filter: invert(1);
      }
    </style>
  </head>
  <body>
    <h1>Welcome to my inverted color scheme page</h1>
    <p>This is an example of how to invert the text and background colors using CSS.</p>
    <img class="invert" src="https://demo.tahsinko.com/front/assets/img/shape/top-right-corner.png" alt="Inverted Image">
  </body>
</html>
